body {
    margin: 0;
}

.space-list::-webkit-scrollbar {
    display: none;
}

.learning-space {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    width: 1080px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2edde;
    overflow: hidden;
}