:root {
  --header-height: 60px;
}

.header {
  width: 100%;
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c8c8c8;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right>* {
  margin-left: 20px;
}

.header-left>* {
  margin-right: 20px;
}

.header-username {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}