{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Learning space{% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/utils/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/utils/leaflet/leaflet.css' %}">
  {% block css %}
  <!-- page css -->
  {% endblock %}
</head>

<body>
  <div class="learning-space">
    <div class="page-content">
      {% include "components/header.html" %}
      {% block content %}
      <!-- page content -->
      {% endblock %}
    </div>
    <div id="global-message" class="global-message" style="display: none">
      <span id="global-message-text"></span>
    </div>
  </div>
  <script src="{% static 'js/utils/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js/utils/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/utils/leaflet.js' %}"></script>
  <script src="{% static 'js/utils/anime.min.js' %}"></script>
  <script src="{% static 'js/global.js' %}"></script>
  <script src="{% static 'js/icons.js' %}"></script>
  {% block js %}
  <!-- page js -->
  {% endblock %}
</body>

</html>