{% extends "base.html" %}
{% block title %}Comments{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/comments.css' %}">
{% endblock %}
{% block content %}
<div class="comments-page">
  <div class="left">
    {% include "components/space-info.html" %}
    <div class="rate-space">
      <div class="rate-space-container">
        <div class="rate-space-slogan">Rate this space!</div>
        <div class="comment-input">
          <textarea id="comment-textarea" placeholder="Input your comment..."></textarea>
        </div>
        <span class="rating-area">
          <span class="rating-title">Rating</span>
          <select id="rating-select"></select>
          <button id="submit-comment-button" class="it-btn">Submit</button>
        </span>
      </div>
    </div>
    <div class="user-comments">
      <div id="user-comment-template" class="user-comment-template" style="display: none">
        <div class="username"></div>
        <div class="rating"></div>
        <div class="comment"></div>
        <div class="created-time"></div>
      </div>
      <div id="user-comments-container"></div>
    </div>
  </div>
  {% include "components/space-list.html" %}
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}