{% extends "base.html" %}
{% block title %}Learning space{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/utils/leaflet/leaflet.css' %}">
{% endblock %}
{% block content %}
<div class="index-page">
  <div class="slogan">Find a learning space...</div>
  <div class="choose-space">
    <div class="map-area">
      <div id="map-container"></div>
    </div>
    {% include "components/space-list.html" %}
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/utils/leaflet.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}