{% extends "base.html" %}
{% block title %}Reserve seat{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/reserve.css' %}">
{% endblock %}
{% block content %}
<div class="reserve-page">
  <div class="left">
    <div class="title">
      <span id="space-name"></span>
      <span id="space-score"></span>
    </div>
    <div class="info">
      <div class="info-cover">
        <div class="info-cover-wrapper">
          <img src="{% static 'images/space1.webp' %}" alt="cover">
        </div>
      </div>
      <div class="space-desc">
        <div id="space-desc-content"></div>
      </div>
    </div>
    <div class="seats"></div>
  </div>
  {% include "components/space-list.html" %}
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/reserve.js' %}"></script>
{% endblock %}