<div class="header">
  <div class="header-left">
    {% if is_login and not is_home %}
    <a href="{% url 'index' %}">
      <div class="it-btn">Home</div>
    </a>
    {% endif %}
    {% if is_login %}
    <span id="header-nickname"></span>
    {% endif %}
  </div>
  <div class="header-right">
    {% if is_login and not is_reservations_page %}
    <a href="{% url 'reservations' %}">
      <div class="it-btn reservations-button">My Reservations</div>
    </a>
    {% endif %}
    {% if is_login %}
    <div class="it-btn" id="log-out-button">Log out</div>
    {% endif %}
  </div>
</div>