{% load static %}
<div class="space-title">
  <span class="display-flex align-items-center">
    <span id="space-name"></span>
    <span id="space-score"></span>
  </span>
  <span class="display-flex align-items-center">
    {% if is_comments_page %}
    <a id="view-reserve-btn">
      <div class="it-btn">Reserve a seat</div>
    </a>
    {% endif %}
    {% if is_reserve_page %}
    <a id="view-comments-btn">
      <div class="it-btn">View Comments</div>
    </a>
    {% endif %}
  </span>
</div>
<div class="space-info">
  <div class="info-cover">
    <div class="info-cover-wrapper">
      <img src="{% static 'images/space1.webp' %}" alt="cover">
    </div>
  </div>
  <div class="space-desc">
    <div id="space-desc-content"></div>
  </div>
</div>